In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../results/antibody_escape/averages/8G3_mut_effect.csv')
func_effects_df = pd.read_csv('../results/func_effects/averages/CHO_bEFNB3_func_effects.csv')
display(df, func_effects_df)

,epitope,site,wildtype,mutant,mutation,escape_mean,escape_median,escape_std,n_models,times_seen,frac_models,LibA-240514-8G3,LibB-240514-8G3
0,1,71,Q,A,Q71A,-0.010330,-0.010330,0.001502,2,1.000,1.0,-0.011400,-0.009272
1,1,71,Q,C,Q71C,-0.006078,-0.006078,0.020200,2,3.000,1.0,0.008205,-0.020360
2,1,71,Q,D,Q71D,-0.040220,-0.040220,0.042840,2,3.667,1.0,-0.070510,-0.009935
3,1,71,Q,E,Q71E,-0.003158,-0.003158,0.000732,2,3.500,1.0,-0.003676,-0.002640
4,1,71,Q,F,Q71F,-0.018220,-0.018220,0.001993,2,2.500,1.0,-0.016810,-0.019630
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10203,1,602,T,V,T602V,-0.001391,-0.001391,0.011990,2,5.500,1.0,0.007087,-0.009868
10204,1,602,T,W,T602W,0.071430,0.071430,0.046180,2,6.500,1.0,0.104100,0.038770
10205,1,602,T,Y,T602Y,-0.006650,-0.006650,0.016560,2,6.500,1.0,-0.018360,0.005058
10206,1,603,*,K,*603K,-0.007954,-0.007954,NaN,1,1.000,0.5,NaN,-0.007954
10207,1,603,*,Q,*603Q,-0.010120,-0.010120,NaN,1,1.000,0.5,NaN,-0.010120

       site wildtype mutant  effect  effect_std  times_seen  n_selections
0        71        Q      * -3.0670      0.0000      21.140             7
1        71        Q      A -0.4531      0.5023       1.857             7
2        71        Q      C -0.6653      0.5844       3.000             7
3        71        Q      D  0.3510      0.1843       3.429             7
4        71        Q      E -0.1721      0.9915       4.571             7
...     ...      ...    ...     ...         ...         ...           ...
10876   603        *      *  0.0000      0.0000         NaN             7
10877   603        *      K -1.2390      0.7875       1.000             7
10878   603        *      Q -3.1540      0.0000       3.429             7
10879   603        *      W -0.3473      0.7388       1.000             3
10880   603        *      Y -1.9420      0.5880       1.000             6

[10881 rows x 7 columns]

In [6]:
merged_df = pd.merge(df[['site','wildtype','mutant','mutation','escape_mean','escape_std','times_seen']], func_effects_df, on=['site','wildtype','mutant'], suffixes=('_antibody','_func_effects'))
display(merged_df)

,site,wildtype,mutant,mutation,escape_mean,escape_std,times_seen_antibody,effect,effect_std,times_seen_func_effects,n_selections
0,71,Q,A,Q71A,-0.010330,0.001502,1.000,-0.4531,0.5023,1.857,7
1,71,Q,C,Q71C,-0.006078,0.020200,3.000,-0.6653,0.5844,3.000,7
2,71,Q,D,Q71D,-0.040220,0.042840,3.667,0.3510,0.1843,3.429,7
3,71,Q,E,Q71E,-0.003158,0.000732,3.500,-0.1721,0.9915,4.571,7
4,71,Q,F,Q71F,-0.018220,0.001993,2.500,-0.4630,0.4789,3.286,7
...,...,...,...,...,...,...,...,...,...,...,...
10203,602,T,V,T602V,-0.001391,0.011990,5.500,0.3156,0.2332,5.429,7
10204,602,T,W,T602W,0.071430,0.046180,6.500,0.5351,0.1374,6.857,7
10205,602,T,Y,T602Y,-0.006650,0.016560,6.500,0.4191,0.2579,6.143,7
10206,603,*,K,*603K,-0.007954,NaN,1.000,-1.2390,0.7875,1.000,7
10207,603,*,Q,*603Q,-0.010120,NaN,1.000,-3.1540,0.0000,3.429,7

In [10]:
filtered_df = merged_df[
    (merged_df['times_seen_antibody'] >= 2)
    & (merged_df['effect'] >= -2)
    & (merged_df['effect_std'] <= 3)
]
filtered_df = filtered_df.drop(columns=['n_selections', 'times_seen_func_effects'])
filtered_df = filtered_df.rename(columns={'effect':'func_effect','effect_std':'func_effect_std'})
display(filtered_df)

,site,wildtype,mutant,mutation,escape_mean,escape_std,times_seen_antibody,func_effect,func_effect_std
1,71,Q,C,Q71C,-0.006078,0.020200,3.000,-0.6653,0.5844
2,71,Q,D,Q71D,-0.040220,0.042840,3.667,0.3510,0.1843
3,71,Q,E,Q71E,-0.003158,0.000732,3.500,-0.1721,0.9915
4,71,Q,F,Q71F,-0.018220,0.001993,2.500,-0.4630,0.4789
5,71,Q,G,Q71G,-0.024890,0.023450,4.000,-1.5170,0.7322
...,...,...,...,...,...,...,...,...,...
10201,602,T,R,T602R,0.015400,0.065220,7.000,0.4851,0.1845
10202,602,T,S,T602S,-0.021310,0.050970,5.000,0.2809,0.2578
10203,602,T,V,T602V,-0.001391,0.011990,5.500,0.3156,0.2332
10204,602,T,W,T602W,0.071430,0.046180,6.500,0.5351,0.1374
10205,602,T,Y,T602Y,-0.006650,0.016560,6.500,0.4191,0.2579

In [11]:
filtered_df.to_csv('../results/filtered_data/8G3_mut_effect_filtered.csv', index=False)